/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.container-link {
  width: 100%;
  background-color: #add8e6;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu {
  width: 70%;
  background-color: #daa520;
  border: 1px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu > span {
  padding: 5px;
}

.link {
  width: 80%;
  text-align: center;
  border-left: 2px dashed black;
  border-right: 2px dashed black;
}

.container-header {
  width: 100%;
  padding: 50px 0;
  background-color: #00008b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-pink {
  height: 350px;
  width: 40%;
  background-color: #ee82ee;
  border: 1px dashed black;
}
/* HEADER */

/* MAIN */
.container-white {
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box1 {
  height: 450px;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.box-1-1 {
  height: 100%;
  width: 65%;
  background-color: #1e90ff;
  border: 1px dashed black;
}

.box-1-2 {
  height: 100%;
  width: 35%;
  background-color: #ffc0cb;
  border: 1px dashed black;
}

.container-gray {
  height: 500px;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box2 {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: row;
}

.box-2-1 {
  height: 100%;
  width: 35%;
  background-color: #ffc0cb;
  border: 1px dashed black;
}

.box-2-2 {
  height: 100%;
  width: 65%;
  background-color: #1e90ff;
  border: 1px dashed black;
}

.container-gray2 {
  width: 100%;
  background-color: #d3d3d3;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-green {
  height: 600px;
  width: 70%;
  background-color: #228b22;
  border: 1px dashed black;
}
/* MAIN */

/* FOOTER */
.container-black {
  width: 100%;
  background-color: #23272a;
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.container-box-head {
  height: 400px;
  width: 60%;
  display: flex;
  flex-direction: row;
}

.box-head-1 {
  height: 400px;
  width: 25%;
  background-color: #f08080;
  border: 1px dashed black;
}

.box-head-2 {
  height: 400px;
  width: 18%;
  background-color: #20b2aa;
  border: 1px dashed white;
}

.container-black-2 {
  width: 100%;
  padding-top: 30px;
  background-color: #23272a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-head-end {
  width: 60%;
  padding: 25px 0;
  background-color: #7fffd4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-head-end > div {
  padding: 10px;
  border: 1px dashed black;
  background-color: hsl(351deg 100% 86%);
}
